.editor-textarea {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  resize: none;
  padding: 16px;
  background: transparent;
}

.editor-textarea::placeholder {
  color: var(--mui-palette-text-secondary);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
