@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap');

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'BIZ UDPGothic', sans-serif;
}
